.main-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .period-container {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .movements-card {
        gap: 1rem;
        padding: 1rem;
        .movements-card-header {
            gap: 0.5rem;
            align-items: center;
        }
    }

    .checkpoints-card {
        gap: 1rem;
        padding: 1rem;
        .checkpoints-card-header {
            gap: 0.5rem;
            align-items: center;
        }
    }

    .date-cell {
        display: flex;
        align-items: center;
        gap: 0.5rem
    }
    .amount-cell {
        display: flex;
        align-items: center;
        gap: 0.5rem
    }

    
}


tr.mat-mdc-footer-row {
    font-weight: bold;
  }

.mat-mdc-table-sticky {
    border-top: 2px solid #000;
}