.main-container {
    padding: 3rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    height: calc(100vh - 6rem);
    

    .period-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex: 1 1 100%;
        align-self: flex-start;
        .selected-period {
            margin: auto;
        }
        .validation-container {
            margin-left: auto;
            .validation-card-content {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }

    .movements-card {
        height: 75vh;
        flex: 1 1 auto;
        gap: 1rem;
        padding: 1rem;
        .movements-card-header {
            gap: 0.5rem;
            align-items: center;
        }
        .movements-card-content {
            overflow: auto;
            flex: 1 1 auto;
        }
    }

    .checkpoints-card {
        height: 75vh;
        flex: 1 1 auto;
        gap: 1rem;
        padding: 1rem;
        .checkpoints-card-header {
            gap: 0.5rem;
            align-items: center;
        }
        .checkpoints-card-content {
            overflow: auto;
            flex: 1 1 auto;
        }
    }

    .date-cell {
        display: flex;
        align-items: center;
        gap: 0.5rem
    }
    .amount-cell {
        display: flex;
        align-items: center;
        gap: 0.5rem
    }
    .total-cell {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}


tr.mat-mdc-footer-row {
    font-weight: bold;
}

.mat-mdc-table-sticky-border-elem-top {
    border-bottom: 2px solid #000;
}
  
  
.mat-mdc-table-sticky-border-elem-bottom {
    border-top: 2px solid #000;
}