<div class="main-container">
  <div class="period-container">
    <mat-form-field>
      <mat-label>Select period</mat-label>
      <mat-select (selectionChange)="onSelectPeriod($event.value)">
        <mat-option>None</mat-option>
        @for (period of periods(); track period.id) {
          <mat-option [value]="period"
            >{{ period.year }} - {{ period.month | titlecase }}</mat-option
          >
        }
      </mat-select>
    </mat-form-field>

    <button mat-stroked-button color="primary" (click)="onAddPeriod()">
      <mat-icon>add</mat-icon>
      Create period
    </button>

    <h4 class="selected-period">
      {{ selectedPeriod()?.month | titlecase }} {{ selectedPeriod()?.year }}
    </h4>

    @if (validation()) {
      <mat-card
        class="validation-container"
        [style]="{ color: validation()!.isValid ? 'green' : 'red' }"
        appearance="outlined"
      >
        <mat-card-content class="validation-card-content">
          @if (validation()!.isValid) {
            <mat-icon>check</mat-icon>
            <p>Synchronisation success</p>
          } @else {
            <mat-icon>close</mat-icon>
            <p>Synchronisation failed</p>
          }
        </mat-card-content>
      </mat-card>
    }
  </div>

  @if (selectedPeriod()) {
    <mat-card appearance="outlined" class="movements-card">
      <mat-card-header class="movements-card-header">
        <mat-card-title>Movements</mat-card-title>
        @if (hasMissingMovementsError()) {
          <mat-icon matTooltip="Missing movements" color="warn">
            error_outline
          </mat-icon>
        }
      </mat-card-header>
      <mat-card-content class="movements-card-content">
        @if (movementsAreLoading) {
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        } @else {
          <table mat-table [dataSource]="movementTableDatas()">
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">
                <div class="date-cell">
                  {{ element.date }}
                  @if (element.duplicateErrorTooltip) {
                    <mat-icon
                      matTooltip="{{ element.duplicateErrorTooltip }}"
                      color="warn"
                    >
                      error
                    </mat-icon>
                  }
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef>Total</td>
            </ng-container>
            <ng-container matColumnDef="wording">
              <th mat-header-cell *matHeaderCellDef>Wording</th>
              <td mat-cell *matCellDef="let element">{{ element.wording }}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let element">
                <div class="amount-cell">
                  {{ element.amount | currency: "EUR" }}
                  @if (element.amountErrorTooltip) {
                    <mat-icon
                      matTooltip="{{ element.amountErrorTooltip }}"
                      color="warn"
                    >
                      error
                    </mat-icon>
                  }
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef>
                <div class="total-cell">
                  {{ movementsTotalAmount() | currency: "EUR" }}
                  @if (hasBalanceMismatchError()) {
                    <mat-icon
                      matTooltip="Balance mismatch - Expected balance {{
                        expectedBalance() | currency: 'EUR'
                      }}"
                      color="warn"
                      class="total-tooltip"
                    >
                      error
                    </mat-icon>
                  }
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  color="warn"
                  class="button-error"
                  (click)="onDeleteMovement(element.id)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="movDisplayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: movDisplayedColumns"></tr>
            <tr *matNoDataRow>
              No movements
            </tr>
            <tr
              [hidden]="movementTableDatas().length === 0"
              mat-footer-row
              *matFooterRowDef="movDisplayedColumns; sticky: true"
            ></tr>
          </table>
        }
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button (click)="onAddMovement()">
          <mat-icon>add</mat-icon>
          Add movement
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card appearance="outlined" class="checkpoints-card">
      <mat-card-header class="checkpoints-card-header">
        <mat-card-title>Checkpoints</mat-card-title>
        @if (hasMissingCheckpointsError()) {
          <mat-icon matTooltip="Missing checkpoints" color="warn">
            error_outline
          </mat-icon>
        }
      </mat-card-header>
      <mat-card-content class="checkpoints-card-content">
        @if (checkpointsAreLoading) {
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        } @else {
          <table mat-table [dataSource]="checkpoints()">
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">{{ element.date }}</td>
            </ng-container>
            <ng-container matColumnDef="balance">
              <th mat-header-cell *matHeaderCellDef>Balance</th>
              <td mat-cell *matCellDef="let element">
                {{ element.balance | currency: "EUR" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  color="warn"
                  class="button-error"
                  (click)="onDeleteCheckpoint(element.id)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="cpDisplayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: cpDisplayedColumns"></tr>
            <tr *matNoDataRow>
              No checkpoints
            </tr>
          </table>
        }
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button (click)="onAddCheckpoint()">
          <mat-icon>add</mat-icon>
          Add checkpoint
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
