<div class="main-container">
  <mat-form-field>
    <mat-label>Select period</mat-label>
    <mat-select
      [(value)]="selectedPeriodId"
      (selectionChange)="onSelectPeriod()"
    >
      <mat-option></mat-option>
      @for (period of periods; track period.id) {
        <mat-option [value]="period.id"
          >{{ period.year }} - {{ period.month }}</mat-option
        >
      }
    </mat-select>
  </mat-form-field>

  @if (validation) {
    <mat-card class="validation-container">
      <mat-card-content>
        @if (validation.isValid) {
          <p>Validation is valid</p>
        } @else {
          <p>Validation is not valid</p>
          @for (error of validation.validationErrors; track $index) {
            <p>{{ error.message }}</p>
          }
        }
      </mat-card-content>
    </mat-card>
  }

  @if (selectedPeriodId) {
    <div class="movement-table-container">
      <h6>Movements</h6>
      <button mat-flat-button (click)="onAddMovement()">Add movement</button>
      <table mat-table [dataSource]="movements" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>
        <ng-container matColumnDef="wording">
          <th mat-header-cell *matHeaderCellDef>Wording</th>
          <td mat-cell *matCellDef="let element">{{ element.wording }}</td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="error"
              (click)="onDeleteMovement(element.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="movDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: movDisplayedColumns"></tr>
      </table>
    </div>
    <div class="checkpoint-table-container">
      <h6>Checkpoints</h6>
      <table mat-table [dataSource]="checkpoints" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef>Balance</th>
          <td mat-cell *matCellDef="let element">{{ element.balance }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="cpDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: cpDisplayedColumns"></tr>
      </table>
    </div>
    <button mat-flat-button (click)="onValidate()">Validate</button>
  }
</div>
